*
{
    margin: 0;
    
    scroll-behavior:smooth;
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}


.navbar
{
    position: sticky;
    top: 0;
    z-index: 1;
    box-shadow: 0px 1px 15px black;
}
.navbar nav
{
    
    background-color: black;
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    font-size: 20px;
}
.navbar nav a{
    color: white;
    text-decoration: none;

}
.navbar nav a:hover
{
   font-size:21px;
}

.navbar nav #logo{
    height: 40px;
   
}
.navbar nav #logoname
{
    height:50px;
    
}
.navbar nav div{
    text-align: center;
    
}

#underline
{
    width: 17%;
    height: 8px;
    background-color: black;
}


.about
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.about .content
{
    padding: 40px;
    width: 70%;
}

.contact
{
    
    background-color: black;
    color: white;
    height: 400px;
    box-shadow: 0px 1px 15px black;
    text-align: center;
}

.contact img
{
    margin-top: 60px;
    width: 300px;
}


.contact p
{
    font-size: 20px;
}
.contact p h1
{
    font-size: 1px;
}

.contact .details
{
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact .details .personal
{
    width: 200px;
    line-height: 30px;
}
.scrollup img
{
    width: 40px ;
    height: 40px;
}


.scrollup
{
    width: 40px;
    height: 40px;
    position: fixed;
    z-index: 2;
    background-color: black;
    bottom: 0;
    right: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}




